<div class="main">
	<div class="search">
		<div class="search_title">Search for a movie</div>
		<center><%= form_tag("/search", :method => "get") do %>
  		<%= text_field_tag(:query, nil, :class => "input-xlarge searchInput") %></center>
		<% end %>
	</div>
	</br>
	</br>
	<div class="now_playing">
		<div class="now_playing_title">Now Playing</div></br>
		<% @now_playing.first(15).each do |movie| %>
			<% if movie %>
				<%= link_to movie_path(movie['id']) do %>
					<%= image_tag("#{@configuration.base_url}w154#{movie['poster_path']}") if movie['poster_path'] %>
				<% end %>
			<% end %>
		<% end %>
	</div>

</div>
