// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.h2, .h1{
	text-align: center;
}

.now_playing{
	margin-left: auto ;
	margin-right: auto ;
	width: 65%;
}

.search_title{
	margin-right: auto ;
	margin-left: auto ;
	width: 45% ;
	font-family: "Comic Sans", "Comic Sans MS", cursive;
	text-align: center;
	font-size: 32px;
	font-weight: bold;
	color: orange;
}

.now_playing_title{
	margin-right: auto ;
	margin-left: auto ;
	width: 45% ;
	font-family: "Comic Sans";
	text-align: center;
	font-weight: bold;
	font-size: 24px;
	color: orange;
}
