h3{
	text-align: center;
	color: orange;
	font-size: 38px;
}

h2{
	text-align: center;
	color: orange;
	font-size: 32px;
}

.movie_table{
	text-align: center;
	width: 35%;

}

p{
	text-align: center;
	color: orange;
	font-size: 18px;
}
