// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.table_hover{
	margin-right: auto ;
	margin-left: auto ;
}

tr:nth-child(odd) td { 
	background: #2D3C82; 
}  

/*td:hover{
	background: #6F81D6 !important;
}*/

tr, td, th{
	text-align: center;
	font-family: "Comic Sans", "Comic Sans MS", cursive;
	text-align: center;
	font-weight: bold;
	color: orange;
}

th{
	font-size: 28px;
	background: #2D3C82; 
}

td{
	font-size: 18px;
}

.results{
	margin-left: auto ;
	margin-right: auto ;
	width: 65%;

}